a {
    &.toggle-btn {
        text-decoration: none;
        color: #2c84af;
        img {
            transition: transform 0.3s ease;
        }
        &:not(.collapsed) img {
            transform: rotate(180deg);
        }
    }
    &.toogle-btn:hover {
        text-decoration: none;
    }
}

.info {
    h3 {
        font-size: 30px;
        line-height: 1.2em;
        margin-bottom: 7px;
        color: #202020;
        margin-bottom: 8px;
    }
    h4 {
        font-weight: normal;
        font-size: 20px;
        line-height: 1.2em;
        margin-bottom: 40px;
        color: #202020;
        border-left: 1px solid #2c84af;
        padding-left: 7px;
    }
    p {
        color: #4c4c4c;
        font-size: 16px;
        line-height: 1.6em;
        margin-bottom: 35px;
    }
    .toggle-btn {
        font-size: 20px;
    }
}

.left-grey,
.right-grey {
    position: relative;
    padding: 70px 0;
}

.left-grey:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(200, 204, 204, 0.18);
    width: 30%;
}

.right-grey:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(200, 204, 204, 0.18);
    width: 30%;
    right: 0;
}

.section.wide {
    position: relative;
    padding: 0;
}

.wide__img {
    height: 50rem;
    overflow: hidden;
    position: relative;
    img {
        top: 50%;
        transform: translate(0, -50%);
        position: absolute;
        display: block;
        width: 100%;
    }
}

.wide__bott {
    .nav-tabs {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 40px 0;

        @media screen and (max-width: 767px) {
            &.nav-tabs {
                flex-wrap: wrap;
                justify-content: flex-start;

                .nav-item {
                    .nav-link {
                        &:before {
                            display: none;
                        }

                        &.active {
                            &:before {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.nav-tabs {
    list-style: none;
    display: flex;
    .nav-item .nav-link {
        position: relative;
        color: #737373;
        font-size: 20px;
        line-height: 1.2em;
        text-decoration: none;
        padding: 15px 20px;
        &:hover {
            text-decoration: none;
        }
        &:before {
            position: absolute;
            display: block;
            bottom: 1px;
            left: 0;
            right: 0;
            height: 1px;
            background: #d4d4d4;
            content: "";
        }
        &.active {
            color: #2c84af;
            &:before {
                background: #2c84af;
                height: 3px;
                bottom: 0px;
            }
        }

        @media screen and (max-width: 767px) {
            display: block;
        }
    }
}

.tab-content > {
    .tab-pane {
        display: none;
    }
    .active {
        display: block;
    }
}

.bg-noisy {
    background: #fff url(/assets/img/noise.png) !important;
}

.container-wide {
    max-width: 1920px;
}

.section_np {
    padding-top: 0;
    .container-wide {
        .row {
            [class^="col"]:first-child {
                padding-left: 0;
            }
            [class^="col"][class~="order-lg-1"]:first-child {
                padding-right: 0;
                padding-left: 15px;
            }
            [class^="col"] + [class^="col"] {
                padding-right: 0;
            }
            margin: 0;
        }
        padding-left: 3rem;
        padding-right: 3rem;
    }
    [class~="order-lg-1"] + .col-xl-6 {
        .grey-box:before {
            left: auto;
            right: -15px;
        }
        .grey-box__number {
            left: 70px;
        }
        .grey-box__text {
            padding: 0 50px 0 110px;
        }
    }
}

.img-box {
    position: relative;
}

.img-box__text {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    padding-left: 60px;
    p {
        font-size: 32px;
        line-height: 1.2em;
        color: #fff;
    }
}

.img-box > img {
    width: 100%;
    display: block;
}

.grey-box {
    position: relative;
    padding: 90px 3rem 100px 0;
    &:before {
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -30px;
        width: calc(50vw - 15px);
        background: rgba(200, 204, 204, 0.18);
        content: "";
        display: block;
    }
}

.grey-box__number {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: -1;
    p {
        color: #eaeaeb;
        font-size: 120px;
        line-height: 1.2em;
        font-family: "Tenor Sans", sans-serif;
    }
}

.grey-box__text {
    padding: 0 40px;
    .info p {
        line-height: 1.6em;
    }
}

.team-item.team-item_faded .overlay {
    background: transparent;
    box-shadow: none;
    background: transparent;
    box-shadow: none;
}

.slide .no-page .hero-title {
    text-align: center;
    font-family: "Tenor Sans", sans-serif;
    font-size: 16.5rem !important;
    line-height: 1.2em !important;
    margin: 0 !important;
    + .row .col-lg-6.text {
        flex: 0 0 100%;
        max-width: 100%;
        p {
            text-align: center;
            font-family: "Tenor Sans", sans-serif;
            text-transform: capitalize;
            font-size: 4rem;
        }
    }
}

.col-xl-4 .product {
    padding: 20px;
    margin-bottom: 15px;
}

.product__top {
    position: relative;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 10px 0 rgba(196, 196, 196, 0.5);
}

.product__top__main {
    img {
        display: block;
        width: 100%;
    }

    .video {
        .video-block {
            height: 100%;

            .video-container {
                height: 100%;
                padding-bottom: 0;
            }
        }
    }
}

.product__top__label {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 10;
    p {
        margin: 0;
        font-size: 15px;
        line-height: 1.2em;
        color: #202020;
        padding: 10px 25px;
    }
}

.product__label p {
    margin: 0;
    font-size: 15px;
    line-height: 1.2em;
    color: #202020;
    padding: 10px 25px;
}

.product__top__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.product__top__icon_tr {
    top: 22px;
    right: 22px;
    left: auto;
    transform: translate(0, 0);
}

.product__date {
    font-size: 13px;
    line-height: 1.2em;
    color: #b3b3b3;
    margin-bottom: 15px;
}

.product__main {
    p {
        color: #4c4c4c;
        font-size: 22px;
        line-height: 1.2em;
    }
    a {
        color: #2c84af;
        font-size: 18px;
        line-height: 1.2em;
    }
}

.pagination {
    list-style: none;
    display: flex;
}

.page-item {
    margin: 0 5px;
    span {
        display: block;
        color: #4c4c4c;
        font-size: 16px;
        text-align: center;
        padding: 1px;
        height: 22px;
        line-height: 22px;
        min-width: 22px;
    }
    &.active {
        background: #2c84af;
        span {
            color: #ffffff;
        }
        .sr-only {
            display: none;
        }
    }
}

.sl-text {
}

.sl-text__top p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #ffffff;
}

.video-content_no-overlay:before {
    display: none;
}

.sl-text__top p span {
    background: #ffffff;
    height: 21px;
    line-height: 21px;
    padding: 1px 3px;
    text-align: center;
    color: #202020;
    font-size: 15px;
    margin-right: 15px;
}

.sl-text__main {
    color: #fff;
    p {
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 1.4em;
    }
    a {
        font-size: 18px;
    }
}

.ms-slide {
    position: relative;
    .container_c {
        width: 100%;
        box-sizing: border-box;
    }
    .ms-layer_c {
        width: 100%;
    }
}

.video .video-content.video-content_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    top: 50%;
    transform: translateY(-50%);
    &:before {
        display: none;
    }
}

.post {
    border-bottom: 1px solid #d4d4d4;
    margin-bottom: 20px;
    margin-top: 50px;
    h2 {
        font-size: 22px;
        line-height: 1.2em;
        color: #202020;
        margin-bottom: 20px;
    }
    p {
        color: #202020;
        font-size: 16px;
        margin-bottom: 15px;
    }
    h3 {
        color: #202020;
        font-size: 18px;
        line-height: 1.2em;
        margin-bottom: 15px;
    }
    blockquote {
        color: #202020;
        font-size: 20px;
        border-left: 4px solid #2c84af;
        background: rgba(200, 204, 212, 0.18);
        margin: 0;
        padding: 20px 35px 25px 60px;
        margin-bottom: 35px;
    }
    img {
        display: block;
        width: 100%;
    }
    ul {
        list-style: none;
        padding: 0 0 0 10px;
        li {
            position: relative;
            color: #202020;
            font-size: 16px;
            line-height: 1.2em;
            margin-bottom: 10px;
            &:before {
                position: absolute;
                content: "-";
                left: -10px;
                top: 50%;
                transform: translate(0, -50%);
                display: block;
                font-size: 16px;
                color: #2c84af;
            }
        }
    }
}

.author {
    display: flex;
    align-items: center;
    img {
    }
    p {
        margin: 0 0 0 20px;
        font-size: 20px;
        color: #202020;
    }
}

.post-info {
    padding-bottom: 20px;
}

.share {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    p {
        color: #202020;
        font-size: 20px;
        line-height: 1.2em;
        margin: 0 10px 0 0;
    }
    a {
        margin: 0 5px;
    }
}

.n-title {
    margin-top: 50px;
    h1 {
        color: #202020;
        font-size: 30px;
        line-height: 1.2em;
        padding-bottom: 30px;
    }
}

.n-main__item {
    margin-bottom: 40px;
}

.n-main__item__date {
    font-size: 13px;
    color: #b3b3b3;
    margin-bottom: 13px;
}

.n-main__item__text {
    p {
        font-size: 18px;
        color: #4c4c4c;
        line-height: 1.2em;
        margin-bottom: 15px;
    }
    a {
        font-size: 18px;
        color: #2c84af;
    }
}

.subsr {
    background: #373e4d;
    padding: 25px 20px 45px;
    h3 {
        color: #ffffff;
        font-size: 30px;
        line-height: 1.2em;
        margin-bottom: 20px;
    }
    input {
        margin-bottom: 25px;
        background: none;
        border: 1px solid #fff;
        color: #fff;
        height: 50px;
        line-height: 50px;
        width: 100%;
        padding: 0 10px;
        &::placeholder {
            color: #ffffff;
        }
    }
    a {
        width: 100%;
    }
}

.ms-bullets.ms-dir-h {
    bottom: 160px !important;
    &.ms-align-bottom {
        z-index: 100;
        .ms-bullet {
            margin: 0 7px !important;
        }
    }
}

.section .container {
    &:not(.skip-row-animation) {
        transform: translate3d(0, 200px, 0);
        opacity: 0;
        transition: transform 0.9s ease-in-out, opacity 0.8s ease-in-out;
    }
    &.visible {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    &.skip-global-animation {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        .title {
            transform: translate3d(0, 0, 0);
            opacity: 1;
        }
    }
    .title {
        transform: translate3d(-400px, 0, 0);
        opacity: 0;
        transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
        &:before {
            width: 0;
            left: 7rem;
            transition: all 0s ease-in-out 0s;
        }
    }
}

.animate-right-to-left {
    overflow: hidden;
    > div,
    > li {
        right: -100%;
        opacity: 0;
        transition: right 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s;
    }
    &.animate > div,
    &.animate > li {
        right: 0;
        opacity: 1;

        @for $j from 1 through 9 {
            &:nth-child(#{$j}) {
                transition: right 0.2s * $j ease-in-out 0s, opacity 0.2s * $j ease-in-out 0s;
            }
        }
    }
}
.section {
    .container.visible .title {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        &:before {
            width: 7rem;
            left: 0;
            transition: all 0.4s ease-in-out 0.9s;
        }
    }
    &.left-grey,
    &.right-grey {
        overflow-x: hidden;
    }
    &.left-grey .container .col-xl-4,
    &.right-grey .container .col-xl-6 {
        transition: transform 0.9s ease-in-out, opacity 1s ease-in-out;
        transform: translate3d(-100%, 0, 0);
    }
    &.left-grey .container.visible .col-xl-4,
    &.right-grey .container.visible .col-xl-6 {
        transform: translate3d(0, 0, 0);
    }
    &.left-grey .container .col-xl-6,
    &.right-grey .container .col-xl-4 {
        transition: transform 0.9s ease-in-out, opacity 1s ease-in-out;
        transform: translate3d(100%, 0, 0);
    }
    &.left-grey .container.visible .col-xl-6,
    &.right-grey .container.visible .col-xl-4 {
        transform: translate3d(0, 0, 0);
    }
}
.animate-columns {
    .col-lg-4 {
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        opacity: 0;
        transform: translate3d(0, 50px, 0);

        $col: ".col-lg-4";
        @for $i from 1 through 9 {
            + #{$col} {
                transition-delay: (0.2s * $i);
            }
            $col: "#{$col} + .col-lg-4";
        }
    }
    &.animate .col-lg-4 {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.sub-title {
    opacity: 0;
    transition: opacity 0.4s ease-in;

    .loaded & {
        opacity: 1;
    }
}

#seattle {
    padding: 0;
}

section.welcome {
    padding-top: 0;
    padding-bottom: 0;
    .container{
        background-image: url(/assets/img/bgparis.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 7rem;
        padding-bottom: 9.5rem;
        max-width: 98%;
    }
    h1 {
        color: #fff;
        font-size: 6.8rem;
        text-align: center;
        margin: 0 12rem;
        margin-bottom: 2rem;
        line-height: 7rem;
        padding-left: 0;
        &::before {
            display: none;
        }
    }
    p {
        color: #fff;
        font-size: 1.8rem;
        line-height: 2.4rem;
        text-align: center;
        margin: 0 12rem;
        margin-bottom: 5rem;
    }
    .btn-wrap {
        text-align: center;
        a {
            line-height: 2.4rem;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-family: "Tenor Sans", sans-serif;
            padding: 15px 45px;
            font-weight: 400;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

section.keys {
    padding-top: 11rem;
    padding-bottom: 6.5rem;
    h2{
        letter-spacing: 2px;
        line-height: 4.3rem;
    }
    .container.visible .title:before{
        top: 17px;
        left: 6px;
    }
    h3 {
        font-family: "Tenor Sans", sans-serif;
        font-size: 2.6rem;
        line-height: 3.4rem;
        margin-top: .8rem;
        margin-bottom: 7.2rem;
        padding-left: 9rem;
        letter-spacing: 0.5px;
    }
    .keys-item {
        padding-left: 9rem;
        margin-bottom: 4.5rem;
    }
    img{
        width: 38px;
        height: auto;
    }
    h4 {
        font-family: "Tenor Sans", sans-serif;
        font-size: 2.7rem;
        line-height: 3.1rem;
        margin-top: .5rem;
        margin-bottom: 1.2rem;
    }
    p {
        font-size: 1.7rem;
        line-height: 2.3rem;
        color: #4c4c4c;
    }
}

section.invest {
    background-color: #373e4d;
    padding-top: 11rem;
    position: relative;
    &::after{
        content: "";
        width: 42.6rem;
        height: 29rem;
        background-image: url(/assets/img/back-logo.svg);
        background-size: cover;
        display: block;
        position: absolute;
        z-index: 0;
        bottom: -4rem;
        left: 0;
        opacity: .7;
    }
    h2 {
        margin-bottom: 2rem;
        padding-left: 7rem;
        line-height: 4.4rem;
        letter-spacing: 2px;
    }
    .container.visible .title:before{
        top: 23px;
        width: 6rem;
    }
    .btn-wrap {
        margin-top: 5.2rem;
        padding-left: 7rem;
        a {
            line-height: 2.4rem;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-family: "Tenor Sans", sans-serif;
            padding: 13px 47px;
            font-weight: 400;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .invest-item {
        border-bottom: 1px solid #c6c6c6;
        display: inline-block;
        margin-bottom: 3rem;
        margin-left: 5rem;
        &:last-child {
            border: none;
            margin-bottom: 0;
            p{
                margin-bottom: 0;
            }
        }
        h3{
            margin-bottom: 1rem;
        }
        p{
            padding-left: 0;
            margin-bottom: 3rem;
        }
    }
    h3 {
        font-size: 3.4rem;
        line-height: 3.5rem;
        font-family: "Tenor Sans", sans-serif;
        margin-top: 0;
        margin-bottom: 1rem;
        letter-spacing: -.7px;
    }
    p {
        margin-bottom: 3rem;
        padding-left: 7rem;
        line-height: 2.3rem;
    }
}

section.book{
    padding-top: 12rem;
    padding-bottom: 13.5rem;
    img{
        max-width: 92.5%;
        height: auto;
        margin-left: 4rem;
    }
    .item {
        margin-left: 8.5rem;
    }
    h2{
        font-family: "Tenor Sans", sans-serif;
        font-size: 4.34rem;
        line-height: 4.2rem;
        text-transform: uppercase;
        margin-top: 8rem;
    }
    .social{
        margin: 3rem 0 4.3rem;
        img{
            margin-left: 0;
        }
    }
    .btn-wrap {
        a {
            line-height: 2.4rem;
            font-size: 1.3rem;
            text-transform: uppercase;
            font-family: "Tenor Sans", sans-serif;
            padding: 13px 38px;
            font-weight: 400;
            letter-spacing: -0.4px;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 768px) {
    .left-grey .social {
        right: auto;
        left: 25px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .left-grey:before,
    .right-grey:before {
        display: none;
    }
    .grey-box:before {
        width: 50vw;
    }
    .section_np .container-wide {
        padding-left: 15px;
        padding-right: 15px;
    }
    .post,
    .n-title {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .post,
    .n-title {
        margin-top: 20px;
    }
    .left-grey:before,
    .right-grey:before {
        display: none;
    }
    .left-grey,
    .right-grey {
        padding: 10px 0;
    }
    .mt-n80 {
        margin-top: 0;
    }
    .wide__bott {
        position: relative;
        bottom: auto;
        left: auto;
        transform: translate(0, 0);
    }
    .wide__img {
        height: auto;
        img {
            position: relative;
            top: 0;
            transform: translate(0, 0);
            display: block;
            width: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
    .grey-box {
        &:before {
            display: none;
        }
        padding: 40px 0;
    }
    .grey-box__number {
        top: 0;
    }
    .section_np [class~="order-lg-1"] + .col-xl-6 {
        .grey-box__text {
            padding: 0 40px;
        }
        .grey-box__number {
            left: 0;
        }
    }
    .info {
        h4 {
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 15px;
        }
    }
    .col-xl-4 .product {
        padding: 0;
    }
    .sl-text__main p {
        margin-bottom: 5px;
        font-size: 24px;
    }
    .video-block.video-block_c {
        height: auto !important;
    }
}
@media (min-width: 2000px) {
    .wide__img img {
        top: auto;
        transform: translateY(0);
    }
}

#contact {
    .container.container {
        &:before {
            top: -10rem;
        }
    }
}

@media (max-width: 991px) {
    section.welcome {
        h1 {
            font-size: calc(3.6rem + 4px);
            margin-left: 1rem;
            margin-right: 1rem;
        }
        p {
            margin-left: 1rem;
            margin-right: 1rem;
        }
        .btn-wrap a{
            font-size: 2.4rem;
        }
    }
    section.invest {
        .invest-item{
            margin-bottom: 6rem;
            margin-left: 7rem;
        }
        p{
            line-height: 3.4rem;
        }
        .btn-wrap a{
            display: block;
            font-size: 2.4rem;
            text-align: center;
            margin-bottom: 10rem;
        }
    }
    section.keys {
        h3 {
            font-size: 4rem;
        }
    }
    section.book {
        img{
            margin-left: 0;
            max-width: 100%;
        }
        h2 {
            text-align: center;
            margin-top: 4rem;
        }
        .btn-wrap a{
            display: block;
            font-size: 2.4rem;
            text-align: center;
        }
        .item{
            margin-left: 0;
        }
    }
    #keys .container.visible .title:before{
        top: 8px;
    }
    #invest .container.visible .title:before{
        top: 10px;
    }
}

@media (max-width: 768px) {
    #contact {
        [class*="col-"] {
            padding: 0 25px;

            p {
                margin-bottom: 10rem;
            }
        }
    }
}

@media (max-width: 515px) {
    section.welcome {
        .container{
            max-width: 94%;
        }
        h1 {
            font-size: 24px;
            font-weight: bold;
        }
        p{
            line-height: 2.4rem;
            font-size: 1.6rem;
        }
        .btn-wrap a{
            font-size: 2.4rem;
        }
    }
    section.invest {
        .invest-item{
            margin-bottom: 4rem;
            padding-left: 0;
            margin-left: 4rem;
        }
        h2{
            line-height: 30px;
            padding-left: 4rem;
            font-size: 26px;
        }
        h3{
            font-size: 22px;
            line-height: 22px;
        }
        p{
            line-height: 22px;
            font-size: 15px;
            padding-left: 4rem;
            margin-bottom: 4rem;
        }
        .btn-wrap {
            padding-left: 4rem;
            a{
                display: block;
                font-size: 2.4rem;
                text-align: center;
                margin-bottom: 10rem;
            }
        }
    }
    section.keys .container.visible .title:before, #invest .container.visible .title:before{
        left: 0;
        width: 3rem;
    }
    section.keys {
        h2{
            padding-left: 4rem;
            font-size: 26px;
            line-height: 30px;
        }
        .keys-item{
            padding-left: 4rem;
        }
        h3 {
            font-size: 4rem;
            padding-left: 4rem;
        }
        h4{
            line-height: 4.4rem;
            font-size: 4rem;
        }
        p{
            font-size: 3rem;
            line-height: 4.5rem;
        }
    }
    section.book  {
        h2 {
            text-align: center;
            margin-top: 4rem;
        }
        .btn-wrap a{
            display: block;
            font-size: 2.4rem;
            text-align: center;
        }
    }
    #keys .container.visible .title:before{
        top: 14px;
    }
    #invest .container.visible .title:before{
        top: 14px;
    }
}