@charset 'UTF-8';

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
    font-family: 'theano_didotregular';
    src: url('/assets/fonts/theanodidot-regular-webfont.eot');
    src: url('/assets/fonts/theanodidot-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/theanodidot-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/theanodidot-regular-webfont.woff') format('woff'),
         url('/assets/fonts/theanodidot-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/theanodidot-regular-webfont.svg#theano_didotregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    background: #0e34a3 url(/assets/img/main-bg.jpg) no-repeat center top;
    min-width: 320px;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

.shadow {
  position: relative;
  min-height: 100%;
}

.shadow:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(6,8,11,0.6);
  z-index: -1;
}

a {
  color: inherit;
}

a:hover, a:focus  {
 text-decoration: none;
}


input, select {
	vertical-align: middle;
}

html {
  height: 100%;

  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1199px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 5px;
  }
}

body, textarea, input, select {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  line-height: normal;
  font-size: 14px;
}

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.clear {
  clear: both;
}

.img-fluid {
  max-width: 100%;
  display: inline-block;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#header {
  border-bottom: 1px solid rgba(255,255,255,0.17);
  padding-top: 10.4rem;
  padding-bottom: 1.8rem;
}

.content {
  background: url(/assets/img/square.png) no-repeat left;
  background-size: contain;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 7rem;
  min-height: 374px;
  display: flex;
  align-items: center;
}

.content .text {
  margin-left: 12rem;
  text-align: left;
}

.content .text p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content .text .large {
  font-size: calc(10px + 0.8rem);
}

.line:after {
  content: "";
  width: 164px;
  height: 1px;
  display: block;
  background: rgba(255,255,255,0.34);
  margin-top: 2.2rem;
  margin-left: -60px;
}

.title {
  font-size: 5.2rem;
  font-family: 'theano_didotregular', Arial, sans-serif;
  font-weight: 500;
  line-height: 100%;
}

.content .text .large strong {
  text-transform: uppercase;
}

#footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 970px;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 3rem;
  padding-bottom: 3rem;
}

#footer div {
  width: 50%;
}

#footer h3 {
  font-size: 12px;
}

@media (max-width: 1199px) {
  
} 

@media (max-width: 991px) {
  
}

@media (max-width: 767px) {
  
  .content {
    background: none;
  }
  
  .content .text {
    margin-left: 2rem;
  }
  
}

@media (max-width: 575px) {
  .no-pad {
    padding-left: 15px;
    padding-right: 15px;
  }  
}